/bitrix/activities/bitrix
/bitrix/admin
/bitrix/cache
/bitrix/catalog_export
/bitrix/components/bitrix
/bitrix/components/demo
/bitrix/gadgets/bitrix
/bitrix/controller_log
/bitrix/image_uploader
/bitrix/images
/bitrix/js
/bitrix/managed_cache
/bitrix/stack_cache
/bitrix/modules
/bitrix/otp
/bitrix/sounds
/bitrix/template
/bitrix/themes
/bitrix/tmp
/bitrix/tools
/bitrix/wizards/bitrix
/bitrix/*.php
/bitrix/css
/bitrix/fonts
/bitrix/public
/bitrix/services
/bitrix/updates
/upload
/ftp_share
/web.config
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/.dbconn.php.swp
/bitrix/web.config
/bitrix/panel
/bitrix/p3p.xml
/phpinfo.php
/qr_generator/*.png
*.log
*.tar.gz
*.tar
*.zip
.idea
/bitrix/backup/*
/bitrix/php_interface/logs/*
/q_script/logs
/q_script/logs_ivideon/*
auth_d.php
/q_script/parking/*